@import 'spree/frontend/variables';

span                                                      {
  &.price                                                 {
    &.old                                                 { color: grey; font-weight: normal; text-decoration: line-through; }
  }
}

ul#products                                               {
  li                                                      {
    .price                                                { display: inline-block
      &.old                                               { color: grey; font-weight: normal; text-decoration: line-through; }
    }
  }
}
