@import 'spree/frontend/variables';

span                                                      {
  &.price                                                 {
    &.old                                                 { color: grey; font-weight: normal; text-decoration: line-through; }
  }
}

ul#products                                               {
  li                                                      {
    .price                                                { display: inline-block;
      &.old                                               { font-weight: normal; font-size: 12px; color: #666;
                                                            display: block;
      }
    }
  }
}
